Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

lint:
  name: lint
  entry: make lint
  language: system
  args:
  - --quiet

prettier:
  name: prettier
  entry: make format
  language: system

chore(release): 1.20.2 [skip ci]
  .version
  package.json
Due: prettier

chore: update cv
  public/Gleb_Khaykin.pdf
Due: none

chore(release): 1.20.3 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  8e0ed7c284de944c8440d4a0e557659e88f01bd2
Due: none

chore(release): 1.20.4 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  854ab94bb3c557090b3757381d29282b29e16eb5
Due: none

chore(release): 1.20.5 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  396a9501779d660f59be9465b49fc795837f8047
Due: none

refactor: :hammer:
  public/Gleb_Khaykin.pdf
Due: none

chore(release): 1.20.6 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  37552a54e454a9a6379d629a94161df415ebf04a
Due: none

style: :art:
  public/Gleb_Khaykin.pdf
Due: none

chore(release): 1.20.7 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  9fc8726bf6bf00033fbf425ba552b74236ce774e
Due: none

docs: improve readme
  README.md
Due: prettier

Notes added by 'git notes add'
  f96cdd1f8adbe8144f824b86a44c1b92e9553214
Due: none

chore(release): 1.20.8 [skip ci]
  .version
  package.json
Due: prettier

chore: update README.md
  README.md
Due: prettier

Notes added by 'git notes add'
  6975771388b45eb18322a4468043e54da3e8d3dd
Due: none

chore(release): 1.20.9 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  2cf784b9d2759d846a925431e9a7543349d2bead
Due: none

build: major bump of pnpm
  .github/workflows/quality.yaml
  .tool-versions
Due: prettier

chore(asdf): bump supabase cli
  .tool-versions
Due: none

chore: update eslint deps
  package.json
  pnpm-lock.yaml
Due: prettier

feat: make torus smaller and slower
  app/components/molecules/AsciiDonut.tsx
Due: lint, prettier

refactor: make avatar smaller
  app/components/atoms/Avatar.tsx
Due: lint, prettier

refactor: update social media component
  app/components/molecules/SocialMedia.tsx
Due: lint, prettier

fix: search by tags kept fixated on topics
  app/components/molecules/TagSearchLoop.tsx
Due: lint, prettier

refactor: update toggle component
  app/components/molecules/ThemeToggle.tsx
Due: lint, prettier

refactor: :hammer:
  app/components/organisms/Carousel.tsx
Due: lint, prettier

feat: add backLink param to header component; update its layout
  app/components/organisms/Header.tsx
Due: lint, prettier

refactor: :hammer:
  app/root.tsx
  app/routes/_index.tsx
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
  app/routes/contact.tsx
  cspell.config.js
Due: lint, prettier

chore(release): 1.21.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  db088f0eacc5504792e6e3454bc7b9b12acf626b
Due: none

Path conditions:
  lint: any of: \.(js|ts|jsx|tsx)$, but not: ^(vendor/|supabase/)
  prettier: any of: \.(js|ts|jsx|tsx|css|md|json|yaml)$, but not: ^(vendor/|supabase/)
