Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
        args:
          - "--allow-multiple-documents"
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: .*\.tsv|.*\.md
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-added-large-files
        args:
          - "--maxkb=10000"
      - id: no-commit-to-branch
        args:
          - "--branch=master"
      - id: debug-statements
      - id: name-tests-test

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.17.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"

  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: make lint
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx)$
        args: ["--quiet"]
        exclude: ^(vendor/|supabase/)

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: make format
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx|css|md|json|yaml)$
        exclude: ^(vendor/|supabase/)

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.3
    hooks:
      - id: cspell

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.94.1
    hooks:
      - id: terraform_fmt

Notes added by 'git notes add'
  df4b51d9048b75239821319a419d2912c55cd827
Due: none

chore(release): 1.18.2 [skip ci]
  .version
  package.json
Due: prettier

chore: update cv
  public/Gleb_Khaykin.pdf
Due: none

Notes added by 'git notes add'
  a114550b179e620d7542e45e670a4b24a941bea6
Due: none

chore(release): 1.18.3 [skip ci]
  .version
  package.json
Due: prettier

chore: specify python runtime version
  .tool-versions
Due: none

chore: remove plugins variable
  Makefile
Due: none

style: :art:
  Makefile
Due: none

fix: normal layout of torus
  app/components/molecules/AsciiDonut.tsx
  app/routes/_index.tsx
Due: lint, prettier

ci: update make target
  .github/workflows/quality.yaml
Due: prettier

style: :art:
  app/components/molecules/AsciiDonut.tsx
Due: lint, prettier

chore(release): 1.18.4 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  c39990022878d72a841ba98fbcfcd74edbe94992
Due: none

chore(release): 1.18.5 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  6bb80667cdee64497e6f4db3632a76bc84e057f3
Due: none

feat: add hcl and yaml highlighting support
  app/routes/blog.$slug.tsx
Due: lint, prettier

chore: bump supabase cli
  .tool-versions
Due: none

chore(release): 1.19.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  844ce192e066823f38a3e5e9a2c8e0166ed135f7
Due: none

fix(robots): allow bots to parse blog routers
  app/routes/[robots.txt].ts
Due: lint, prettier

chore(release): 1.19.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  a65ebbd0f9c1cd8e908b68961efb34548adc299d
Due: none

revert(robots): move to previous state
  app/routes/[robots.txt].ts
Due: lint, prettier

chore(release): 1.19.2 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  647e9c9da027ced39c131c40a5f50b1577d6ea23
Due: none

fix: remove different layout of the torus for large screens
  app/components/molecules/AsciiDonut.tsx
Due: lint, prettier

Notes added by 'git notes add'
  bef9e35276ad0fca226d4407fdf12eae1faa7583
Due: none

chore(release): 1.19.3 [skip ci]
  .version
  package.json
Due: prettier

chore(release): 1.19.4 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  d4067b26ec40e9ea9b9a0155b8b7f718af4b6dac
Due: none

feat(vercel): add cv tracking
  app/routes/_index.tsx
Due: lint, prettier

Notes added by 'git notes add'
  3d5201cb6bdefb7b0ab27e0f8b29523092f7c896
Due: none

chore(release): 1.20.0 [skip ci]
  .version
  package.json
Due: prettier

revert(vercel): remove vercel tracking as it's pro only
  app/routes/_index.tsx
Due: lint, prettier

chore(release): 1.20.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  f98052c07642a365d490504951ddc53b394253a1
Due: none

Notes added by 'git notes add'
  bb2f327ae90a29d37a9d58582c9d9d73cec5f4cb
Due: none
