Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

lint:
  name: lint
  entry: make lint
  language: system
  args:
  - --quiet

prettier:
  name: prettier
  entry: make format
  language: system

feat: use tracking-tight for more compact ui
  src/app/about/page.tsx
  src/app/blog/(list)/components/carousel.tsx
  src/app/page.tsx
  src/components/header.tsx
Due: lint, prettier

refactor: :hammer:
  src/app/blog/[slug]/page.tsx
  src/app/styles/notion.css
Due: lint, prettier

chore(release): 1.26.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  29d097decf12085dc8bb7461ebca1ee4762b2b50
Due: none

refactor: :hammer:
  .releaserc
  release.config.js
Due: lint, prettier

chore(release): 1.26.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  b7407b2e22d8d3dc311717a2788fe49032cab432
Due: none

fix: improper toc highlighting in dark mode
  src/app/styles/notion.css
Due: prettier

Notes added by 'git notes add'
  ea25f7531c2d28522bf8bd02ef753c0a2d2a49c3
Due: none

chore(release): 1.26.2 [skip ci]
  .version
  package.json
Due: prettier

chore: update cv
  public/Gleb_Khaykin.pdf
Due: none

chore(release): 1.26.3 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  b44746473ddf83e5c3b547b66136504899010a3f
Due: none

refactor: :hammer:
  public/Gleb_Khaykin.pdf
Due: none

chore(release): 1.26.4 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  0a825867781a6695a48e2f72a90fce48f4ccf5c9
Due: none

feat: introduce system mode icon
  src/app/providers.tsx
  src/app/styles/global.css
  src/components/footer.tsx
  tailwind.config.ts
Due: lint, prettier

refactor: decrease hover animation intensity
  src/app/about/components/avatar.tsx
Due: lint, prettier

chore(release): 1.27.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  490d6cfc7e4750f3b783f177a7d1503d9eddaf13
Due: none

chore: update project title
  README.md
Due: prettier

Notes added by 'git notes add'
  82af5aa2bdefc364fdd67fcf3d6d5cdef63745d3
Due: none

chore(release): 1.27.1 [skip ci]
  .version
  package.json
Due: prettier

build(asdf): minor bump of pnpm
  .tool-versions
Due: none

build(deps): update package verions due to react security issues
  package.json
  pnpm-lock.yaml
Due: prettier

fix(css): proper text layout
  src/app/styles/notion.css
Due: prettier

refactor: fixate tailwindcss
  package.json
  pnpm-lock.yaml
Due: prettier

chore(release): 1.27.2 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  56ccfbc85342e2dbed60afc233c6d1668e07ca71
Due: none

fix(css): text layout issues
  src/app/styles/notion.css
Due: prettier

chore(release): 1.27.3 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  78093d6304372ba929cae91ea77ac71362f2945c
Due: none

fix(css): text layout issues x2
  src/app/styles/notion.css
Due: prettier

chore(release): 1.27.4 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  df2a95adab4cc4154b45ea697fd30cd3f2b81832
Due: none

refactor: :hammer:
  src/app/styles/notion.css
Due: prettier

Notes added by 'git notes add'
  a8147b588f37bfa62cdee7c5b0adb376f071eb9f
Due: none

chore(release): 1.27.5 [skip ci]
  .version
  package.json
Due: prettier

Path conditions:
  lint: any of: \.(js|ts|jsx|tsx)$
  prettier: any of: \.(js|ts|jsx|tsx|css|md|json|yaml)$
