Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
        args:
          - "--allow-multiple-documents"
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: .*\.tsv|.*\.md
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-added-large-files
        args:
          - "--maxkb=10000"
      - id: no-commit-to-branch
        args:
          - "--branch=master"
      - id: debug-statements
      - id: name-tests-test

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional@v19.8.1"

  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: make lint
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx)$
        args: ["--quiet"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: make format
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx|css|md|json|yaml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.3
    hooks:
      - id: cspell

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-lint
        args:
          - "--dialect=postgres"
      - id: sqlfluff-fix
        args:
          - "--dialect=postgres"

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.94.1
    hooks:
      - id: terraform_fmt

chore(release): 1.27.6 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  63b2b0ffb54adc7f6a2bafc02b30ab0969286962
Due: none

chore: update cv
  public/Gleb_Khaykin.pdf
Due: none

chore(release): 1.27.7 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  94188514c7e8c2bfb40da62376c8fdaf0c1bfd41
Due: none

chore(release): 1.27.8 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  49bf95020cfc4ba25070f9f22d77b564595756c1
Due: none

chore(release): 1.27.9 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  b2459342d7f20052f3d67a73bad8e19d98cf35d0
Due: none

fix: proper toc color in light mode
  src/app/styles/notion.css
Due: prettier

refactor: update link and username to tg blog
  src/app/about/components/social-media.tsx
Due: lint, prettier

refactor: update text in /about page
  src/app/about/page.tsx
Due: lint, prettier

feat(blog): use readable slugs for header anchors
  src/app/blog/[slug]/components/notion-page.tsx
  src/app/blog/[slug]/components/notion-renderer.tsx
Due: lint, prettier

chore: crop avatar
  public/avatar.webp
Due: none

chore(release): 1.28.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  7f2b32363fee98c8726a41be53ac507051e2e969
Due: none

chore: update cv to include new tg link
  public/Gleb_Khaykin.pdf
Due: none

chore(release): 1.28.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  1fa68dc7da852a8586b2959fd887cb6fa7ee3932
Due: none

refactor: :hammer:
  src/app/about/page.tsx
Due: lint, prettier

chore(release): 1.28.2 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  12c341c6443916935395af61419ba7e2910e5229
Due: none

chore(release): 1.28.3 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  a96a9f0f6568f81b7a977f89b756568c7b250404
Due: none
