Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

lint:
  name: lint
  entry: make lint
  language: system
  args:
  - --quiet

prettier:
  name: prettier
  entry: make format
  language: system

Notes added by 'git notes add'
  e89b06a16d199084772ecadc40e67c283fc489a1
Due: none

chore(release): 1.16.0 [skip ci]
  .version
  package.json
Due: prettier

feat!: completly new layout
  app/components/atoms/Avatar.tsx
  app/components/atoms/Copyright.tsx
  app/components/atoms/LoadingSpinner.tsx
  app/components/molecules/Background.tsx
  app/components/molecules/MenuItems.tsx
  app/components/molecules/MobileMenuItems.tsx
  app/components/molecules/SocialMedia.tsx
  app/components/organisms/Carousel.tsx
  app/components/organisms/Footer.tsx
  app/components/organisms/Header.tsx
  app/components/organisms/Pagination.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
  app/styles/notion.css
  app/styles/tailwind.css
Due: lint, prettier

chore: add columns comments
  supabase/migrations/20250108051612_add_comments_posts.sql
Due: none

refactor: :hammer:
  app/routes/_index.tsx
  app/routes/blog._index.tsx
Due: lint, prettier

refactor: :hammer:
  app/routes/_index.tsx
Due: lint, prettier

refactor: :hammer:
  app/components/molecules/TagSearchLoop.tsx
  app/components/organisms/Carousel.tsx
  app/routes/blog._index.tsx
Due: lint, prettier

feat: use loop search instead of tag search bar
  app/components/molecules/TagSearchBar.tsx
  app/components/molecules/TagSearchLoop.tsx
  app/routes/blog._index.tsx
Due: lint, prettier

refactor: :hammer:
  app/styles/notion.css
  app/styles/tailwind.css
Due: prettier

chore: update rules
  .cursorrules
Due: none

refactor: :hammer:
  app/components/molecules/TagSearchLoop.tsx
Due: lint, prettier

refactor: :hammer:
  app/styles/notion.css
Due: prettier

refactor: :hammer:
  app/routes/blog._index.tsx
Due: lint, prettier

refactor: :hammer:
  app/components/organisms/Footer.tsx
Due: lint, prettier

feat: spinning donut
  app/components/molecules/AsciiDonut.tsx
  app/routes/_index.tsx
  cspell.config.js
Due: lint, prettier

feat: theme switching
  app/components/molecules/AsciiDonut.tsx
  app/components/molecules/Background.tsx
  app/components/molecules/TagSearchLoop.tsx
  app/components/molecules/ThemeToggle.tsx
  app/components/organisms/Footer.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
  app/utils/theme.ts
  tailwind.config.ts
Due: lint, prettier

refactor: fix theme coloring
  app/components/molecules/TagSearchLoop.tsx
  app/components/organisms/Carousel.tsx
  app/components/organisms/Pagination.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/blog.$slug.tsx
  app/styles/notion.css
Due: lint, prettier

chore: update cv
  public/Gleb_Khaykin.pdf
Due: none

feat: contact router
  app/components/atoms/Avatar.tsx
  app/components/molecules/SocialMedia.tsx
  app/components/organisms/Header.tsx
  app/routes/contact.tsx
Due: lint, prettier

chore: set default font
  app/components/atoms/Copyright.tsx
  app/components/molecules/AsciiDonut.tsx
  app/components/molecules/SocialMedia.tsx
  app/components/molecules/TagSearchLoop.tsx
  app/components/organisms/Carousel.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
  app/routes/contact.tsx
  tailwind.config.ts
Due: lint, prettier

refactor: :hammer:
  app/root.tsx
  app/routes/contact.tsx
Due: lint, prettier

refactor: :hammer:
  app/root.tsx
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
  app/routes/contact.tsx
Due: lint, prettier

refactor: :hammer:
  app/routes/contact.tsx
Due: lint, prettier

chore(release): 1.17.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  82f82046ef290101de8ec16932d31b63c47c6091
Due: none

refactor: :hammer:
  app/root.tsx
Due: lint, prettier

fix(css): use the same color for code block as specified in themes
  app/styles/notion.css
Due: prettier

chore: increase max width
  app/components/atoms/Avatar.tsx
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
  app/routes/contact.tsx
Due: lint, prettier

chore: use supabase as iac
  cspell.config.js
  infra/.terraform.lock.hcl
  infra/outputs.tf
  infra/provider.tf
  infra/supabase.tf
  infra/terraform.tf
  infra/variables.tf
  infra/vercel.tf
Due: lint, prettier

chore: enable supabase storage seeding
  .github/workflows/release.yaml
  supabase/config.toml
  supabase/seeds/posts.sql
  supabase/seeds/storage/posts/5987cc697c874323920215fbaad8cbbd/img.webp
Due: prettier

refactor: make posts storage bucket public
  supabase/config.toml
  supabase/seeds/posts.sql
Due: none

feat: use supabase storage for posts image url
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
  app/utils/supabase.ts
Due: lint, prettier

style: :art:
  app/routes/blog.$slug.tsx
Due: lint, prettier

fix: replace unicode arrow with react-icons for cross-platform consistency
  app/routes/_index.tsx
Due: lint, prettier

chore(release): 1.18.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  e7330e2d84a643fc32260b35ec18906736fb4dd5
Due: none

chore: remove emojis
  app/routes/_index.tsx
  app/routes/contact.tsx
Due: lint, prettier

chore(release): 1.18.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  2094724b5687cd25c94e06c0ac61864568e6f674
Due: none

chore: ceate LICENSE
  LICENSE
Due: none

Path conditions:
  lint: any of: \.(js|ts|jsx|tsx)$, but not: ^(vendor/|supabase/)
  prettier: any of: \.(js|ts|jsx|tsx|css|md|json|yaml)$, but not: ^(vendor/|supabase/)
