Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

lint:
  name: lint
  entry: make lint
  language: system
  args:
  - --quiet

prettier:
  name: prettier
  entry: make format
  language: system

build(docker): setup local supabase
  .pre-commit-config.yaml
  Makefile
  cspell.config.js
  eslint.config.js
  supabase/docker-compose.yaml
  supabase/volumes/api/kong.yml
  supabase/volumes/db/_supabase.sql
  supabase/volumes/db/init/data.sql
  supabase/volumes/db/jwt.sql
  supabase/volumes/db/logs.sql
  supabase/volumes/db/pooler.sql
  supabase/volumes/db/realtime.sql
  supabase/volumes/db/roles.sql
  supabase/volumes/db/webhooks.sql
  supabase/volumes/functions/hello/index.ts
  supabase/volumes/functions/main/index.ts
  supabase/volumes/logs/vector.yml
  supabase/volumes/pooler/pooler.exs
Due: lint, prettier

style: :art:
  Makefile
Due: none

chore: introduce .env.example file
  .env.example
  .secrets.baseline
Due: none

ci(hooks): introduce sqlfluff
  .pre-commit-config.yaml
  .sqlfluffignore
Due: prettier

refactor: use supabase-cli instead of docker compose
  .env.example
  .secrets.baseline
  .tool-versions
  Makefile
  cspell.config.js
  supabase/.gitignore
  supabase/config.toml
  supabase/docker-compose.yaml
  supabase/volumes/api/kong.yml
  supabase/volumes/db/_supabase.sql
  supabase/volumes/db/init/data.sql
  supabase/volumes/db/jwt.sql
  supabase/volumes/db/logs.sql
  supabase/volumes/db/pooler.sql
  supabase/volumes/db/realtime.sql
  supabase/volumes/db/roles.sql
  supabase/volumes/db/webhooks.sql
  supabase/volumes/functions/hello/index.ts
  supabase/volumes/functions/main/index.ts
  supabase/volumes/logs/vector.yml
  supabase/volumes/pooler/pooler.exs
Due: lint, prettier

chore: introduce migrations and seeds with supabase-cli
  Makefile
  supabase/config.toml
  supabase/migrations/20241224093149_init_posts.sql
  supabase/seeds/posts.sql
Due: none

feat: integrate supabase with app
  Makefile
  app/components/organisms/Carousel.tsx
  app/data/posts.tsx
  app/integrations/supabase/database.types.ts
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
Due: lint, prettier

chore: update gitignore
  .gitignore
Due: none

refactor: :hammer:
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
  eslint.config.js
Due: lint, prettier

feat(infra): add vercel env variables
  .env.example
  infra/.terraform.lock.hcl
  infra/terraform.tf
  infra/variables.tf
  infra/vercel.tf
Due: none

ci(workflows): supabase deploy
  .github/workflows/release.yaml
Due: prettier

refactor: :hammer:
  .sqlfluffignore
Due: none

chore(release): 1.14.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  568464fc6b7c7d1ccbbca8f01cec7c754d25bb7b
Due: none

ci: attempt to fix migrations and seeding
  .github/workflows/release.yaml
Due: prettier

chore(release): 1.14.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  9742a8b6d9b00bfb084804ccea709476da296618
Due: none

ci: attempt to fix migrations and seeding (number 2)
  .github/workflows/release.yaml
Due: prettier

chore(release): 1.14.2 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  7564bb332ad3a3472632e1cde649da71b2068e8b
Due: none

ci: attempt to fix seeding
  .github/workflows/release.yaml
Due: prettier

chore(release): 1.14.3 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  03013f10047ca274c7a1214ad2df74711d431ff4
Due: none

chore: bump supabase cli
  .tool-versions
Due: none

chore: add tailwind for rules
  .cursorrules
Due: none

feat: use animate-pulse instead of loading spinner in blog/slug routers
  app/routes/blog.$slug.tsx
Due: lint, prettier

feat: use animate-pulse for blog router
  app/components/molecules/TagSearchBar.tsx
  app/components/organisms/Carousel.tsx
  app/components/organisms/Pagination.tsx
  app/routes/blog._index.tsx
Due: lint, prettier

feat: cache blog router
  app/routes/blog._index.tsx
Due: lint, prettier

refactor: :hammer:
  app/routes/blog._index.tsx
Due: lint, prettier

style: :art:
  app/routes/blog._index.tsx
Due: lint, prettier

feat: cache blog/slug routers
  app/routes/blog.$slug.tsx
Due: lint, prettier

refactor: :hammer:
  app/root.tsx
  app/routes/_index.tsx
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
Due: lint, prettier

refactor: :hammer:
  app/routes/blog.$slug.tsx
Due: lint, prettier

refactor: :hammer:
  app/components/organisms/Carousel.tsx
  app/routes/blog.$slug.tsx
Due: lint, prettier

chore(release): 1.15.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  5e89eef925bec3b1f5cb61054ff96820020537da
Due: none

feat: use local storage instead of session storage for caching
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
Due: lint, prettier

refactor: :hammer:
  app/components/organisms/Carousel.tsx
Due: lint, prettier

Path conditions:
  lint: any of: \.(js|ts|jsx|tsx)$, but not: ^(vendor/|supabase/)
  prettier: any of: \.(js|ts|jsx|tsx|css|md|json|yaml)$, but not: ^(vendor/|supabase/)
