Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
        args:
          - "--allow-multiple-documents"
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: .*\.tsv|.*\.md
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-added-large-files
        args:
          - "--maxkb=10000"
      - id: no-commit-to-branch
        args:
          - "--branch=master"
      - id: debug-statements
      - id: name-tests-test

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.17.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"

  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: make lint
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx)$
        args: ["--quiet"]
        exclude: ^(vendor/|supabase/)

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: make format
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx|css|md|json|yaml)$
        exclude: ^(vendor/|supabase/)

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.3
    hooks:
      - id: cspell

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.94.1
    hooks:
      - id: terraform_fmt

style: update margins
  app/components/atoms/Copyright.tsx
  app/components/organisms/Footer.tsx
  app/routes/contact.tsx
Due: lint, prettier

fix: remove scale-105 on mobile
  app/components/molecules/SocialMedia.tsx
  app/components/molecules/TagSearchLoop.tsx
  app/components/molecules/ThemeToggle.tsx
  app/components/organisms/Header.tsx
  app/root.tsx
Due: lint, prettier

chore(release): 1.21.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  6cd84a5f010e54c9ebc2481f17c5ee87e3c81310
Due: none

fix: remove active:scale-95
  app/components/molecules/SocialMedia.tsx
  app/components/molecules/TagSearchLoop.tsx
  app/components/molecules/ThemeToggle.tsx
  app/components/organisms/Header.tsx
  app/root.tsx
Due: lint, prettier

Notes added by 'git notes add'
  cc5f13570374ba1cc45c4dbbc3293acdaa8d363c
Due: none

chore(release): 1.21.2 [skip ci]
  .version
  package.json
Due: prettier

refactor: improve meta tags
  app/routes/_index.tsx
  app/routes/blog.$slug.tsx
  app/routes/blog._index.tsx
Due: lint, prettier

chore(release): 1.21.3 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  8b21240db499a3374ed58179818b9976c551fd39
Due: none

build(asdf): major bump of nodejs
  .tool-versions
Due: none

build(asdf): minor bump of pnpm
  .tool-versions
Due: none

style: :art:
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/components/notion-page.tsx
  src/app/blog/[slug]/components/notion-renderer.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/components/carousel.tsx
  src/app/blog/components/pagination.tsx
  src/app/blog/components/posts.tsx
  src/app/blog/components/tag-search.tsx
  src/app/blog/loading.tsx
  src/app/blog/page.tsx
  src/app/contact/components/social-media.tsx
  src/app/contact/page.tsx
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/footer.tsx
  src/integrations/supabase/database.types.ts
  src/utils/supabase.tsx
Due: lint, prettier

style: :art:
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/components/notion-renderer.tsx
  src/app/blog/components/carousel.tsx
  src/app/blog/components/pagination.tsx
  src/app/blog/components/tag-search.tsx
  src/app/blog/loading.tsx
  src/app/blog/page.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/ascii-donut.tsx
  src/components/footer.tsx
  src/components/header.tsx
Due: lint, prettier

refactor: add better-tailwindcss eslint plugin
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/app/blog/[slug]/page.tsx
  src/app/blog/components/carousel.tsx
  src/app/blog/components/pagination.tsx
  src/app/blog/components/tag-search.tsx
  src/app/blog/loading.tsx
  src/app/blog/page.tsx
  src/app/contact/components/avatar.tsx
  src/app/contact/components/social-media.tsx
  src/app/contact/page.tsx
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/ascii-donut.tsx
  src/components/footer.tsx
  src/components/header.tsx
Due: lint, prettier

docs: update readme to include new makefile targets
  README.md
Due: prettier

refactor: add dynamic metatags
  src/app/blog/[slug]/page.tsx
Due: lint, prettier

refactor: generate proper sitemap
  src/app/sitemap.ts
Due: lint, prettier

fix(supabase): use proper key to initialize client
  .env.example
  .tool-versions
  Makefile
  src/utils/supabase.tsx
  supabase/migrations/20250704152751_init_select_policy_for_posts_table.sql
Due: lint, prettier

style: :art:
  supabase/migrations/20250704152751_init_select_policy_for_posts_table.sql
Due: none

feat(supabase): add description and update_at columns to posts table
  src/app/blog/[slug]/page.tsx
  supabase/migrations/20250704154805_add_new_columns_to_posts_table.sql
Due: lint, prettier

feat!: migrate vercel deployment from remix to next.js
  .gitignore
  .tool-versions
  cspell.config.js
  infra/.terraform.lock.hcl
  infra/provider.tf
  terraform/.terraform.lock.hcl
  terraform/cloudflare.tf
  terraform/outputs.tf
  terraform/provider.tf
  terraform/supabase.tf
  terraform/terraform.tf
  terraform/variables.tf
  terraform/vercel.tf
Due: lint, prettier

ci: update linter setup
  .github/workflows/quality.yaml
Due: prettier

ci: update release workflow
  .github/workflows/release.yaml
Due: prettier

chore: ignore vendor folder when using next build
  tsconfig.json
Due: prettier

chore: bump nodejs
  .github/workflows/quality.yaml
  .tool-versions
Due: prettier

chore: add canvas to only build deps
  pnpm-workspace.yaml
Due: prettier

refactor: rename envs
  terraform/vercel.tf
Due: none

chore: update nextjs config
  cspell.config.js
  next.config.ts
Due: lint, prettier

refactor: update build-react-notion-x makefile target
  Makefile
Due: none

chore: update next.config.ts to allow query strings
  next.config.ts
Due: lint, prettier

chore: ensure submodules are initialized in GitHub Actions
  .github/workflows/quality.yaml
Due: prettier

refactor: :hammer:
  src/utils/supabase.tsx
Due: lint, prettier

chore(release): 1.22.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  7f9b72e43f92dc09b4c02624cd54b98895f028ca
Due: none

fix(next): remove search prop in next config
  next.config.ts
Due: lint, prettier

fix: proper img layout and loading
  src/app/blog/components/carousel.tsx
  src/app/contact/components/avatar.tsx
Due: lint, prettier

chore(release): 1.22.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  7ba43e5979709d42e28c3a3569b0a83dec6aaf5d
Due: none
