Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
        args:
          - "--allow-multiple-documents"
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: .*\.tsv|.*\.md
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-added-large-files
        args:
          - "--maxkb=10000"
      - id: no-commit-to-branch
        args:
          - "--branch=master"
      - id: debug-statements
      - id: name-tests-test

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.17.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"

  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: make lint
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx)$
        args: ["--quiet"]
        exclude: ^(vendor/|supabase/)

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: make format
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx|css|md|json|yaml)$
        exclude: ^(vendor/|supabase/)

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.3
    hooks:
      - id: cspell

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.94.1
    hooks:
      - id: terraform_fmt

fix: missing VENDOR_DIR in Makefile
  Makefile
Due: none

Notes added by 'git notes add'
  4d123d10d6cc03c09a118e2dec9fcceeeb70a7d5
Due: none

chore(release): 1.24.1 [skip ci]
  .version
  package.json
Due: prettier

build(deps): bump notion-client
  package.json
  pnpm-lock.yaml
Due: prettier

fix: use hotfix for breaking change from notion
  src/app/blog/[slug]/components/notion-page.tsx
Due: lint, prettier

Notes added by 'git notes add'
  b25b997135f7a6802878d192395cd851b8728491
Due: none

chore(release): 1.24.2 [skip ci]
  .version
  package.json
Due: prettier

revert: move notion-client dep back
  package.json
Due: prettier

Notes added by 'git notes add'
  590b051ec10d11216e32336167a96064e9635f50
Due: none

chore(release): 1.24.3 [skip ci]
  .version
  package.json
Due: prettier

fix: right lock for notion-client
  pnpm-lock.yaml
Due: prettier

chore(release): 1.24.4 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  597b23c1410f36f2936d6a755049fb98e329e047
Due: none

chore: include zone id in tf outputs
  terraform/outputs.tf
Due: none

style: :art:
  public/Gleb_Khaykin.pdf
  src/app/about/page.tsx
Due: lint, prettier

chore(release): 1.24.5 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  96b32fd652e405ceae95c62dfd6b1d57c12524c3
Due: none

chore(release): 1.24.6 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  cd1b7ed5f8c351ea64ffaf0af4133fec2e2e98d0
Due: none

fix: use commonJS instead of ES module syntax for commitlint
  .pre-commit-config.yaml
  commitlint.config.js
Due: lint, prettier

build(makefile): add git submodule initialization before building react-notion-x
  Makefile
Due: none

feat: use cursor-pointer in toggle
  src/components/footer.tsx
Due: lint, prettier

fix: make toggle button work when default mode is dark
  src/app/styles/global.css
Due: prettier

Notes added by 'git notes add'
  cf28e1ae03ebf8c066097dddc9758d134d565277
Due: none

chore(release): 1.25.0 [skip ci]
  .version
  package.json
Due: prettier

fix: make that when you change the system theme the color scheme changes as well
  src/app/providers.tsx
Due: lint, prettier

chore(release): 1.25.1 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  53aff6e566256c1a26c4cd7c221e43ef0eb3eee5
Due: none

chore: update cv
  public/Gleb_Khaykin.pdf
Due: none

fix: add cursor-pointer to button elements
  src/app/blog/(list)/components/pagination.tsx
  src/app/blog/(list)/components/tag-search.tsx
  src/app/global-error.tsx
  src/app/not-found.tsx
Due: lint, prettier

fix: incorrect highlighting after fixing system theme
  src/app/blog/(list)/components/pagination.tsx
  src/app/blog/(list)/components/tag-search.tsx
Due: lint, prettier

Notes added by 'git notes add'
  b3aa121c0bfcc9a381fdf59f0ff235db564859ca
Due: none

chore(release): 1.25.2 [skip ci]
  .version
  package.json
Due: prettier

chore(release): 1.25.3 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  bebaf5c88fae0d248a46b2f13096019b9f94f953
Due: none

chore(release): 1.25.4 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  73c2dcad93751df59d5dde21b035af4d47efee6e
Due: none
