Repository khaykingleb/khaykingleb-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-toml
      - id: check-yaml
        args:
          - "--allow-multiple-documents"
      - id: check-json
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: .*\.tsv|.*\.md
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-added-large-files
        args:
          - "--maxkb=10000"
      - id: no-commit-to-branch
        args:
          - "--branch=master"
      - id: debug-statements
      - id: name-tests-test

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.17.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"

  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: make lint
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx)$
        args: ["--quiet"]
        exclude: ^(vendor/|supabase/)

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: make format
        language: system
        types: [file]
        files: \.(js|ts|jsx|tsx|css|md|json|yaml)$
        exclude: ^(vendor/|supabase/)

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.13.3
    hooks:
      - id: cspell

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.94.1
    hooks:
      - id: terraform_fmt

fix: improve loading logic of blog and blog/ routers
  src/app/blog/(list)/components/carousel.tsx
  src/app/blog/(list)/components/pagination.tsx
  src/app/blog/(list)/components/posts.tsx
  src/app/blog/(list)/components/tag-search.tsx
  src/app/blog/(list)/loading.tsx
  src/app/blog/(list)/page.tsx
Due: lint, prettier

fix: proper imgage loading
  src/app/blog/(list)/components/carousel.tsx
  src/app/contact/components/avatar.tsx
Due: lint, prettier

fix: dark mode coloring in notion page
  src/app/styles/notion.css
Due: prettier

fix(css): correct .notion-text left padding
  src/app/styles/notion.css
Due: prettier

fix: restore coloring of code blocks
  src/app/blog/[slug]/components/notion-renderer.tsx
Due: lint, prettier

refactor: :hammer:
  src/app/blog/[slug]/components/notion-renderer.tsx
Due: lint, prettier

Notes added by 'git notes add'
  db1b8536c09730d7f6c214c499736212315186f4
Due: none

chore(release): 1.22.2 [skip ci]
  .version
  package.json
Due: prettier

refactor: make rounded hover in carousel
  src/app/blog/(list)/components/carousel.tsx
Due: lint, prettier

refactor: :hammer:
  src/app/blog/(list)/components/carousel.tsx
Due: lint, prettier

refactor: improve tag search layout
  src/app/blog/(list)/components/tag-search.tsx
Due: lint, prettier

refactor: delete hover opacity
  src/components/footer.tsx
  src/components/header.tsx
Due: lint, prettier

refactor: improve loading layout in blog router
  src/app/blog/(list)/components/pagination.tsx
  src/app/blog/(list)/loading.tsx
Due: lint, prettier

refactor: improve loading layout in blog/ router
  src/app/blog/[slug]/page.tsx
Due: lint, prettier

refactor: improve notion css
  src/app/styles/notion.css
Due: prettier

refactor: move from contact to about router
  src/app/about/components/avatar.tsx
  src/app/about/components/social-media.tsx
  src/app/about/page.tsx
  src/app/page.tsx
  src/app/sitemap.ts
Due: lint, prettier

refactor: :hammer:
  src/app/about/page.tsx
Due: lint, prettier

Notes added by 'git notes add'
  92b8decd15dba14cb8a3346a1a7f6efe9b47741e
Due: none

chore(release): 1.22.3 [skip ci]
  .version
  package.json
Due: prettier

chore(release): 1.22.4 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  13181b3ac83798078be1a1b0f0d6a9b488daa1fd
Due: none

refactor: :hammer:
  src/app/blog/(list)/components/carousel.tsx
  src/app/styles/notion.css
Due: lint, prettier

Notes added by 'git notes add'
  cd7dd01cdd811c6414e48145769869d8ccec8536
Due: none

chore(release): 1.22.5 [skip ci]
  .version
  package.json
Due: prettier

fix: don't render pagination component if there are no posts to render
  src/app/blog/(list)/components/pagination.tsx
Due: lint, prettier

chore(release): 1.22.6 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  bf76449708bf0cf83750ff1110167b3e71da41d2
Due: none

style: :art:
  src/components/ascii-donut.tsx
Due: lint, prettier

fix(blog): ensure blog header is accessible when no posts are found
  src/app/blog/(list)/components/carousel.tsx
Due: lint, prettier

chore(release): 1.22.7 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  4b7cd874787957180aba41cfbcd17deb23e5ef70
Due: none

feat: add together ai
  public/Gleb_Khaykin.pdf
Due: none

chore(release): 1.23.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  21ac21221f712575e1aefbcc89354e4aec8de43d
Due: none

feat: add together ai comment in about section
  src/app/about/page.tsx
Due: lint, prettier

chore(release): 1.24.0 [skip ci]
  .version
  package.json
Due: prettier

Notes added by 'git notes add'
  0d982590d82c64c7b43b370ab8267936b690ef55
Due: none

fix: update react-notion-x to avoid 4xx errors on notion api side
  .gitmodules
Due: none
